body{
    font-family: "Poppins", sans-serif;
}
body h1{
    text-align: center;
    color: blueviolet;
}
.container{
    padding: 10px;
    margin: auto;
    width: 40%;
    border: 1px solid black;
}
.container input{
    height: 20px;
    width: 87%;
}
.container .btn{
    height: 25px;
    width: 50px;
}
.container ul{
    list-style: none;
    padding: 0px;
}
.container li{
    color: blue;
}
.container li a{
    float: right;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}
.container #error{
    color: red;
    font-size: 14px;
}